/* GLOBAL IMPORTS */

@import 'nib'


/* VARIABLES */

font = "Roboto", sans-serif

color1 = #00c853

grey = #ddd


/* RESETS */

html, html *
  font-family font

div.loading-container.active
  background-color #e42112
  top 0

  div.loading
    background-color transparent

    i
      color #fff
      font-size 50px

button.button
  font-weight 700 !important
  top 50% !important
  transform translate(0,-50%)
  -webkit-transform translate(0,-50%)

.has-header
  top 54px


/* TEMPLATE IMPORTS */
