div.bar
  height 54px

  h1.title
    font-weight 700
    top 50%
    transform translate(0,-50%)
    font-size 19px
    text-align center

    i
      font-size 1em

    &.sidemenu-title
      color #fff
      font-weight 300

.content
  background-color #eee

.tabs
  .tab-item.active
    background-color #ef473a
    color #fff
