.single-place
  padding 20px

  span.distance
    font-weight 700
    text-transform lowercase
    color #aaa
    margin 0
    display block
    text-align center

  .single-place-image
    display block
    margin 20px auto

  h2.place-name
    font-weight 700
    text-align center

  .single-place-meta
    width auto
    margin 0 auto
    display flex
    display -webkit-flex
    flex-flow column nowrap
    justify-content center

    li
      margin 0 auto

    .snippet
      background-color #eee
      padding 10px
      font-size 12px
      line-height 13px
      border-radius 5px

.single-place-actions
  div
    h2
      font-weight 700
