
a
  text-decoration none !important

  .place-result
    padding 0

    img
      margin 0
      padding 0
      margin-right 20px

    h2
      margin-top 20px
      font-weight 700

    .place-meta
      display flex
      display -webkit-flex
      flex-flow row nowrap
      -webkit-flex-flow row nowrap
      margin 0
      margin-bottom 10px

      li
        flex 0 0 auto
        margin 0
        padding 5px
        font-size 0.8em

        &:before
          margin-right 10px
          content "\2022"

        &:first-of-type
          padding-left 0
          margin 0

          &:before
            display none
