<template name="layout">

  {{#ionBody}}

  {{#ionSideMenuContainer side="left"}}

    {{#ionSideMenus}}

      {{#ionSideMenu}}
        <div class="bar bar-header bar-assertive">
          <h1 class="title">Pickr</h1>
        </div>
        <div class="content has-header">
          <div class="list">
            <a class="item item-icon-left" href="{{pathFor 'home'}}" data-ion-menu-close>
              {{> ionIcon icon="android-restaurant"}}
              Pick A Place
            </a>
            <a class="item item-icon-left" href="{{pathFor 'placesNearby'}}" data-ion-menu-close>
              {{> ionIcon icon="android-pin"}}
              Places Nearby
            </a>
          </div>
        </div>
      {{/ionSideMenu}}

    {{/ionSideMenus}}

    {{#ionSideMenuContent}}

      {{> ionNavBar class="bar-assertive"}}

      {{#ionNavView}}

        <!-- {{#ionTabs class="tabs-dark tabs-icon-top"}}
          {{#if isAndroid}}
            {{> ionTab title="" path="home" iconOff="android-home" iconOn="android-home"}}
            {{> ionTab title="" path="placesNearby" iconOff="android-location" iconOn="android-location"}}
          {{else}}
            {{> ionTab title="Home" path="home" iconOff="ios-home" iconOn="ios-home"}}
            {{> ionTab title="Nearby" path="placesNearby" iconOff="ios-location" iconOn="ios-location"}}
          {{/if}}
        {{/ionTabs}} -->

        {{> yield}}



      {{/ionNavView}}

    {{/ionSideMenuContent}}

  {{/ionSideMenuContainer}}

{{/ionBody}}

</template>
