<template name="placesNearby">

  {{#if isAndroid}}

    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='android-menu'}}
      </button>
    {{/contentFor}}

  {{/if}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-popover="_viewOptions">
      {{> ionIcon icon='android-more-horizontal'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{> ionIcon icon='map'}} Places Nearby</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if loc}}

      {{#ionList class="places-nearby"}}

        {{#each placesNearby}}
          <a href="{{pathFor 'singlePlace' placeId=id}}">
          {{#ionItem buttonRight=true thumbnail=true class="place-result" id=id}}
            <img src="{{image_url}}" alt="" class="pull-left" />
            <h2>{{name}}</h2>
            {{#if rating}}
            {{> starsRating rating=rating size="sm"}}
            {{/if}}
            <ul class="place-meta">
              <li>{{distanceInMiles distance}} miles away</li>
            </ul>

            <button class="button button-clear">{{> ionIcon icon="ios-arrow-right"}}</button>

          {{/ionItem}}
        </a>
        {{/each}}
      {{/ionList}}

      {{/if}}

    {{/ionContent}}
  {{/ionView}}


</template>
