<template name="placesNearby">

  <!-- {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='android-menu'}}
    </button>
  {{/contentFor}} -->

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right">
      {{> ionIcon icon='android-more-horizontal'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{> ionIcon icon='map'}} Places Nearby</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if loc}}

      {{#ionList class="places-nearby"}}

        {{#each placesNearby}}
          <div class="card">
          {{#ionItem buttonRight=true avatar=true class="place-result" id="{{id}}"}}
            <img src="{{image_url}}" alt="" />
            <h2>{{name}}</h2>
            <ul class="place-meta">
              <li>{{distanceInMiles distance}} miles away</li>
              {{#if rating}}
              <li>{{rating}}</li>
              {{/if}}
            </ul>

            <button class="button button-clear">{{> ionIcon icon="ios-arrow-right"}}</button>

          {{/ionItem}}
        </div>
        {{/each}}
      {{/ionList}}

      {{/if}}

    {{/ionContent}}
  {{/ionView}}


</template>
