<template name="recommendedPlace">

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{> ionIcon icon='thumbsup'}} Recommended</h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

      {{#with recommendedPlace}}

      <div class="single-place">
        <span class="distance">{{distanceInMiles distance}} miles away</span>
        <img class="single-place-image" src="{{image_url}}" alt="" />
        <h2 class="place-name">{{name}}</h2>
        <ul class="single-place-meta">
          <li class="rating">{{> starsRating rating=rating size="lg"}}</li>
        </ul>

        {{#ionList class="card single-place-actions"}}
            {{#if phone}}
            {{#ionItem buttonLeft=true avatar=false}}
              <h2>Call</h2>
              <p>
                {{display_phone}}
              </p>
              <button class="button button-clear">
                {{> ionIcon icon="ios-telephone"}}
              </button>
            {{/ionItem}}
            {{/if}}

            {{#if location.address}}
            {{#ionItem buttonLeft=true avatar=false}}
              <h2>View on map</h2>
              <p>
                {{location.display_address}}
              </p>
              <button class="button button-clear">
                {{> ionIcon icon="android-pin"}}
              </button>
            {{/ionItem}}
            {{/if}}
        {{/ionList}}

      </div>

      {{/with}}

  {{/ionContent}}
{{/ionView}}

</template>
